.quote-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgb(237, 132, 52);
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 150px 50%);
}

@media (max-width: 768px) {
  .quote-wrapper {
    flex-direction: column;
  }
  .content-wrapper {
    width: 100%;
    height: 300px;
    background: rgb(237, 132, 52);
    background-attachment: fixed;
    clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 100%, 0 100%);
  }
}
